{% extends 'base.html.twig' %}

{% block title %}Edit Transaction{% endblock %}

{% block body %}
    <h1>Edit Transaction</h1>

    {{ include('admin_transaction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_transaction_index') }}">back to list</a>

    {{ include('admin_transaction/_delete_form.html.twig') }}
{% endblock %}
