{% extends 'base.html.twig' %}

{% block title %}Edit Crypto{% endblock %}

{% block body %}
    <h1>Edit Crypto</h1>

    {{ include('admin_crypto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_crypto_index') }}">back to list</a>

    {{ include('admin_crypto/_delete_form.html.twig') }}
{% endblock %}
